<h1><%= pluralize(@users.size, "User")  %> </h1>
<ul class="users">
  <% @users.each do | u | %>
    <li>
      <%= link_to u.name, u %> created
      <%= time_ago_in_words(u.created_at) %>
    </li>
  <% end %>
</ul>